<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <script src="http://sdk.mercadopago.com/js/v2"></script>
    <title>Document</title>
</head>
<body>
    <py-env>
        - mercadopago
        - requests
    </py-env>
    <py-script>
    
        import mercadopago
        import requests
        sdk = mercadopago.SDK("TEST-563546354855081-112713-f24d03316d6440a1da5189eaf4d13863-238252620")

        preference_data = {
            "items": [
                {
                    "title": "Mi producto",
                    "quantity": 1,
                    "unit_price": 75.76,
                    "id":'001'
                }
            ]
        }

        preference_response = sdk.preference().create(preference_data)
        preference = preference_response["response"]

    </py-script>
    <h3>Mercado Pago</h3>
    <div class="checkout-btn"></div>

<script>
  const mp = new MercadoPago('TEST-1faa8c88-abfd-4b5e-949e-4dccbfda5c75', {
    locale: 'es-AR'
  });

  mp.checkout({
    preference: {
      id: 'YOUR_PREFERENCE_ID'
    },
    render: {
      container: '.checkout-btn',
      label: 'Pagar',
    }
  })
</script>
</body>
</html>


